<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MagicWIndowShow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MagicWindowShow2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>379A0CDD1C7EAB97007A3A8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>379A0CF51C7EAB97007A3A8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>379A0D001C7EAB97007A3A8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37B404061BA2C63000393EA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37B4041F1BA2C63000393EA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
